@page "/maintenance/add"
@attribute [Authorize]
@inject NavigationManager NavigationManager
@inject IAlertService AlertService
@inject IAccountService AccountService
@inject IRoleService RoleService
@inject IMachineService MachineService
@inject IStatusService StatusService
@inject ILocationService LocationService
@inject IMaintenanceService MaintenanceService

<h1>Создание записи</h1>
<EditForm Model="@model" OnValidSubmit="OnValidSubmit">

    <div class="form-row">
        <div class="form-group col">
            <br>
            <label>Выберите номер станка</label>
            <select  @bind="model.Machine" class="form-select">
                @if (machines != null)
                {
                    @foreach (var machine in machines)
                    {
                        <option  @key="machine.Id" value="@machine.Id" >@machine.InventoryNumber</option>
                    }
                }
            </select>

        </div>
         <div class="form-group col">
             <br>
             <label>Выберите новое состояние станка</label>
             <select @bind="model.Status" class="form-select">
                 @if (statuses != null)
                 {
                     @foreach (var status in statuses)
                     {
                         <option @key="status.Id" value="@status.Id">@status.Name</option>
                     }
                 }
             </select>
         </div>
            <div class="form-group col">
                <br>
                <label>Выберите номер цеха</label>
                <select  @bind="model.Location" class="form-select">
                    @if (users != null)
                    {
                        @foreach (var location in locations)
                        {
                            <option  @key="location.Id" value="@location.Id" >@location.Build / @location.Room</option>
                        }
                    }
                </select>

            </div>
            <div class="form-group col">
                <br>
                <label>Табельный номер сотрудника</label>
                <select @bind="model.User" class="form-select">
                    @if (users != null)
                    {
                        @foreach (var user in users)
                        {
                            <option @key="user.Id" value="@user.Id" >@user.Id</option>
                        }
                    }
                </select>

            </div>




    </div>
    @*<div class="form-row">
        <div class="form-group col">
            <label>станок</label>
            <InputText @bind-Value="model.Machine" class="form-control" />
            <ValidationMessage For="@(() => model.Machine)" />
        </div>
        <div class="form-group col">
            <label>Сотрудник</label>
            <InputText @bind-Value="model.User" class="form-control" />
            <ValidationMessage For="@(() => model.User)" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label>Местоположение</label>
            <InputText @bind-Value="model.Location" class="form-control" />
            <ValidationMessage For="@(() => model.Location)" />
        </div>
        <div class="form-group col">
            <label>Новое состояние</label>
            <InputText @bind-Value="model.Status" class="form-control" />
            <ValidationMessage For="@(() => model.Status)" />
        </div>
    </div>*@
    <div class="form-group">
        <button disabled="@loading" class="btn btn-primary">
            @if (loading)
            {
                <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            Сохранить
        </button>
        <NavLink href="maintenance" class="btn btn-link">Отмена</NavLink>
    </div>

</EditForm>

@code {
    private string myHolderStatus, myHolderUser, myHolderMachine, myHolderLocation;

    public AddMaintenance model = new AddMaintenance();

    private bool loading;

    public IList<User> users;
    public IList<Location> locations;
    public IList<Machine> machines;
    public IList<Status> statuses;

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        statuses = await StatusService.GetAll();
        users = await AccountService.GetAll();
        machines = await MachineService.GetAll();
        locations = await LocationService.GetAll();

        loading = false;
    }


    public async void OnValidSubmit()
    {
        loading = true;
        try
        {

            await MaintenanceService.Create(model);
            AlertService.Success("Запись успешно добавлена", keepAfterRouteChange: true);
            NavigationManager.NavigateTo("maintenance");
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message);
            loading = false;
            StateHasChanged();
        }
    }
}