@page "/details/{maintenanceid}"
@attribute [Authorize]
@inject IMaintenanceService MaintenanceService
@inject IAppHistoryService AppHistoryService
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

<h1>Подробности заявки</h1>
<table class="table table-striped table-sm table-responsive table-hover">
    <thead>
        <tr>
            <th scope="col">Номер заявки</th>
            <th scope="col">Тип задачи</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Номер станка</th>
            <th scope="col">Статус станка</th>
            <th scope="col">Местоположение</th>
            <th scope="col">Сотрудник</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (maintenance != null)
        {
            
                <tr>
                    <td>@maintenanceid</td>
                    <td>@maintenance.TaskType.Name</td>
                    <td>@maintenance.DateOfUpdate</td>
                    <td>@maintenance.Machine.InventoryNumber</td>
                    <td>@maintenance.Status.Name</td>
                    <td>@maintenance.Location.Workshop / @maintenance.Location.Plot</td>
                    <td>@maintenance.User.Username</td>
                    <td style="white-space: nowrap">
                        @*<NavLink href="@($"maintenances/edit/{maintenance.Id}")" class="btn btn-sm btn-primary mr-1">Редактировать</NavLink>*@
                        
                    </td>
                </tr>
            
        }
        @if (loading)
        {
            <tr>
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private bool loading;
    private Maintenance maintenance = new Maintenance();
    private IList<AppHistory> apps;

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        maintenance = await MaintenanceService.GetById(maintenanceid);
        //apps = await AppHistoryService.GetAll();
        loading = false;
    }

    [Parameter]
    public string maintenanceid { get; set; }
}