@page "/maintenance/exe"
@attribute [Authorize]
@inject IAlertService AlertService
@inject IMaintenanceService MaintenanceService
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

<h1>Назначение исполнителя</h1>
<h2>Список новых заявок</h2>
<table class="table table-striped table-sm table-responsive table-hover">
    <thead>
        <tr>
            <th scope="col">Номер заявки</th>
            <th scope="col">Дата обслуживания</th>
            <th scope="col">Имя станка</th>
            <th scope="col">Статус станка</th>
            <th scope="col">Местоположение</th>
            <th scope="col">Автор</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (maintenances != null)
        {
            foreach (var maintenance in maintenances)
            {
                <tr>
                    <td>@maintenance.Id</td>
                    <td>@maintenance.DateOfUpdate</td>
                    <td>@maintenance.Machine.InventoryNumber</td>
                    <td>@maintenance.Status.Name</td>
                    <td>@maintenance.Location.Workshop / @maintenance.Location.Plot</td>
                    <td>@maintenance.User.Username</td>
                    <td style="white-space: nowrap">
                        @*<NavLink href="@($"maintenances/edit/{maintenance.Id}")" class="btn btn-sm btn-primary mr-1">Редактировать</NavLink>*@
                    </td>
                </tr>
            }
        }
        @if (loading)
        {
            <tr>
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        }


    <div class="form-group col">
        <br>
        <label>Укажите номер заявки</label>
        @*<select @bind="model.Id" class="form-select">
            @if (maintenances != null)
            {-->
                @foreach (var location in locations)
                {
                    <option @key="location.Id" value="@location.Id">@location.Build / @location.Room</option>
                }
            }
        </select>*@
        <input  @bind="model.Id" />
    </div>
    <div class="form-group col">
        <br>
        <label>Укажите номер исполнителя</label>
        @*<select @bind="model.Location" class="form-select">
            @if (users != null)
            {
                @foreach (var location in locations)
                {
                    <option @key="location.Id" value="@location.Id">@location.Build / @location.Room</option>
                }
            }
        </select>*@
        <input @bind="model.User" />
    </div>
    <div class="form-group col">
        <br>
        <label>Укажите дату окончания работ</label>
        @*<select @bind="model.Machine" class="form-select">
            @if (machines != null)
            {
                @foreach (var machine in machines)
                {
                    <option @key="machine.Id" value="@machine.Id">@machine.InventoryNumber</option>
                }
            }
        </select>*@
        <input asp-for="DateTime" @bind="model.DateOfEnd" />
    </div>
    </tbody>
</table>

@code {
    private bool loading;
    private EditMaintenance model = new EditMaintenance();
    private IList<Maintenance> maintenances;

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        maintenances = await MaintenanceService.GetAll();
        loading = false;
    }

}