@page "/maintenances/history/{Id}"
@inject IMaintenanceService MaintenanceService
@inject IAppHistoryService AppHistoryService
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

<h1>История заявки</h1>
<table class="table table-striped table-sm table-responsive table-hover">
    <thead>
        <tr>
            <th scope="col">Номер заявки</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Дата обработки</th>
            <th scope="col">Дата начала выполнения</th>
            <th scope="col">Дата окончания выполнения</th>
            <th scope="col">Cтанок</th>
            <th scope="col">Cтатус заявки</th>
            <th scope="col">Номер помещение</th>
            <th scope="col">Автор</th>
            <th scope="col">Диспетчер</th>
            <th scope="col">Исполнитель</th>
            <th scope="col">Тип задачи</th>
            <th scope="col">Комментарий автора</th>
            <th scope="col">Комментарий диспетчера</th>
            <th scope="col">Комментарий исполнителя</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (apps1 != null)
        {

            foreach (var app in apps1)
            {
        <tr>
            <td>@app.Maintenance.Id</td>
            <td>@app.DateOfCreate</td>
            <td>@app.DateOfTreatment</td>
            <td>@app.DateOfStart</td>
            <td>@app.DateOfEnd</td>
            <td>@app.Machine</td>
            <td>@app.Status</td>
            <td>@app.Location</td>
            <td>@app.Author</td>
            <td>@app.Dispatcher</td>
            <td>@app.Executor</td>
            <td>@app.TaskType</td>
            <td>@app.CommentOfAuthor</td>
            <td>@app.CommentOfDispatcher</td>
            <td>@app.CommentOfExecutor</td>
        </tr>
            }

        }
        @if (loading)
        {
            <tr>
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private bool loading;
    private Maintenance maintenance = new Maintenance();
    private IList<AppHistory> apps;
    private IList<AppHistory> apps1;

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        apps = await AppHistoryService.GetAll();
        maintenance = await MaintenanceService.GetById(Id);
        apps1 = new List<AppHistory>(); 
        for (int i = 0; i < apps.Count; i++) {
            if (apps[i].Maintenance.Id == Id) {
                apps[i].Maintenance = maintenance;
                apps1.Add(apps[i]);
            }
        }
        loading = false;
    }

}